Repository LINE-NOW/LINENOW-CLIENT, pull requests merged in 2025-05, with the labels that each got.

#35 [Feat]#34 - 대기 걸기, 취소하기 api 및 toast
  apps/service/src/apis/domains/booth/getBooth.ts
  apps/service/src/apis/domains/booth/getBoothWaiting.ts
  apps/service/src/apis/domains/models.ts
  apps/service/src/apis/domains/waiting/getWaiting.ts
  apps/service/src/apis/domains/waiting/getWaitingBooth.ts
  apps/service/src/apis/domains/waiting/getWaitings.ts
  apps/service/src/apis/domains/waiting/postWaiting.ts
  apps/service/src/apis/domains/waiting/postWaitingCancel.ts
  apps/service/src/components/boothCard/boothCardDetail.tsx
  apps/service/src/components/boothCard/boothCardLayout.tsx
  apps/service/src/components/modal/waiting.tsx
  apps/service/src/components/navigation/Navigation.tsx
  apps/service/src/hooks/useToastFromLocation.ts
  apps/service/src/lib/interfaces/waiting.ts
  apps/service/src/mocks/_components/TestTool.tsx
  apps/service/src/mocks/_dummy/waiting.ts
  apps/service/src/mocks/dummy/waitingDetail.ts
  apps/service/src/mocks/dummy/waitings.ts
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/main/MainPage.tsx
  apps/service/src/pages/waitingCheck/_components/WaitingCheckCautionModal.tsx
  apps/service/src/pages/waitingCheck/_components/splash/SplashWaitingCard.tsx
  apps/service/src/pages/waitingDetail/WaitingDetailPage.styled.ts
  apps/service/src/pages/waitingDetail/WaitingDetailPage.tsx
  apps/service/src/pages/waitingDetail/_components/WaitingCancelModal.tsx
  apps/service/src/pages/waitingDetail/hooks/useAnimation.tsx
Labels: ✨ Feature, 📁 service, 🍀 찬주, 🛜 API

#38 [Feat]#37-관리자 1차 api 수정 및 ui 반영
  apps/admin/src/App.tsx
  apps/admin/src/apis/domains/booth/_interfaces.ts
  apps/admin/src/apis/domains/booth/apis.ts
  apps/admin/src/apis/domains/boothManaging/_interfaces.ts
  apps/admin/src/apis/domains/boothManaging/apis.ts
  apps/admin/src/apis/domains/login/_interfaces.ts
  apps/admin/src/apis/domains/login/apis.ts
  apps/admin/src/apis/domains/logout/apis.ts
  apps/admin/src/apis/instance.ts
  apps/admin/src/atoms/auth.ts
  apps/admin/src/components/modal/waiting.tsx
  apps/admin/src/components/sidebar/Sidebar.styled.ts
  apps/admin/src/components/sidebar/Sidebar.tsx
  apps/admin/src/components/sidebar/SidebarButton.tsx
  apps/admin/src/hooks/apis/auth.ts
  apps/admin/src/hooks/apis/boothManaging.ts
  apps/admin/src/hooks/useAuth.ts
  apps/admin/src/hooks/useBoothInfo.ts
  apps/admin/src/lib/interfaces/user.ts
  apps/admin/src/lib/interfaces/waiting.ts
  apps/admin/src/lib/types/status.ts
  apps/admin/src/pages/login/LoginPage.styled.ts
  apps/admin/src/pages/login/LoginPage.tsx
  apps/admin/src/pages/login/components/LoginInput.tsx
  apps/admin/src/pages/login/components/LoginInput_styled.ts
  apps/admin/src/pages/main/_components/MainWaitingCard.styled.ts
  apps/admin/src/pages/main/_components/MainWaitingCard.tsx
  apps/admin/src/pages/main/_components/_hooks/useMainWaitingCard.tsx
  apps/admin/src/pages/main/_components/tag/Tag.styled.ts
  apps/admin/src/pages/main/_components/tag/Tag.tsx
  apps/admin/src/pages/main/_components/tag/TagList.tsx
  apps/admin/src/routes/ProtectedRoute.tsx
  packages/core/src/components/themeProvider/LinenowProvider.tsx
  packages/core/src/styles/global.ts
  packages/core/src/styles/index.ts
Labels: ✨ Feature, 📁 admin, 🍀 찬주, 🛜 API

#40 [Feat] #36 - 입장 Bottomsheet 로직 작성
  apps/service/src/App.tsx
  apps/service/src/apis/domains/booth/getBooths.ts
  apps/service/src/apis/domains/models.ts
  apps/service/src/apis/domains/waiting/getCancelAllEntering.ts
  apps/service/src/apis/domains/waiting/getCancelAllWaiting.ts
  apps/service/src/apis/domains/waiting/getWaitingBooth.ts
  apps/service/src/apis/domains/waiting/getWaitings.ts
  apps/service/src/apis/domains/waiting/postCancelAllEntering.ts
  apps/service/src/apis/domains/waiting/postCancelAllWaiting.ts
  apps/service/src/apis/domains/waiting/postCancelWaiting.ts
  apps/service/src/apis/domains/waiting/postSelectEntering.ts
  apps/service/src/apis/instance.ts
  apps/service/src/components/bottomSheet/BottomSheetContent.styled.ts
  apps/service/src/components/bottomSheet/entering/EnteringBottSheetContent.tsx
  apps/service/src/components/bottomSheet/entering/MultipleEnteringContent.tsx
  apps/service/src/components/bottomSheet/entering/NoticeCard/NoticeCard.styled.ts
  apps/service/src/components/bottomSheet/entering/NoticeCard/NoticeCard.tsx
  apps/service/src/components/bottomSheet/entering/SingleEnteringContent.tsx
  apps/service/src/components/bottomSheet/entering/WaitingDetailCard/WaitingDetailCard.styled.ts
  apps/service/src/components/bottomSheet/entering/WaitingDetailCard/WaitingDetailCard.tsx
  apps/service/src/components/bottomSheet/entering/boothList/BoothCard.tsx
  apps/service/src/components/bottomSheet/entering/boothList/BoothList.tsx
  apps/service/src/components/bottomSheet/entering/boothList/EnteringChip.tsx
  apps/service/src/components/bottomSheet/entering/useEnteringContent.tsx
  apps/service/src/components/button/EnteranceButton.tsx
  apps/service/src/components/button/EnteringButton.tsx
  apps/service/src/components/modal/entering.tsx
  apps/service/src/components/modal/waiting.tsx
  apps/service/src/components/waitingCard/WaitingCard.tsx
  apps/service/src/hooks/apis/waiting.tsx
  apps/service/src/hooks/form/useForm.tsx
  apps/service/src/hooks/useEntering.tsx
  apps/service/src/hooks/useEntrance.ts
  apps/service/src/hooks/useTimer.ts
  apps/service/src/lib/interfaces/waiting.ts
  apps/service/src/mocks/_components/TestTool.tsx
  apps/service/src/mocks/_dummy/booth.ts
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/login/_components/form/LoginForm.tsx
  apps/service/src/pages/main/_hooks/useBoothList.tsx
  apps/service/src/pages/signup/_hooks/useSignupForm.tsx
  apps/service/src/pages/waitingCheck/WaitingCheckPage.tsx
  apps/service/src/pages/waitingCheck/_components/WaitingCheckCautionModal.tsx
  apps/service/src/pages/waitingDetail/WaitingDetailPage.tsx
  apps/service/src/pages/waitingDetail/_components/WaitingCancelModal.tsx
  apps/service/src/utils/calculate.ts
  packages/core/src/components/chip/Chip.styled.ts
  packages/core/src/components/chip/Chip.tsx
  packages/core/src/components/fixedContainer/FixedContainer.styled.ts
  packages/core/src/components/fixedContainer/FixedContainer.tsx
  packages/core/src/components/modal/Modal.styled.ts
  packages/core/src/components/modal/Modal.tsx
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useCountdown.ts
  packages/core/src/styles/border.ts
Labels: ✨ Feature, 🍀 서현, 📁 service, 🛜 API

#42 [Feat] #41 - Main Page Refetch Button, Navigation, BoothList API 수정
  apps/service/src/App.tsx
  apps/service/src/apis/domains/queries.ts
  apps/service/src/components/booth/BoothThumbnail.tsx
  apps/service/src/components/booth/BoothThumbnailCompact.tsx
  apps/service/src/components/refetchButton/RefetchButton.styled.ts
  apps/service/src/components/refetchButton/RefetchButton.tsx
  apps/service/src/hooks/apis/booth.tsx
  apps/service/src/hooks/apis/query.ts
  apps/service/src/hooks/apis/waiting.tsx
  apps/service/src/pages/main/MainPage.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothList.tsx
  apps/service/src/pages/main/_components/boothList/useBoothList.ts
  apps/service/src/pages/main/_components/mainNavigation/MainNavigation.styled.ts
  apps/service/src/pages/main/_components/mainNavigation/MainNavigation.tsx
  apps/service/src/pages/main/_components/mainNavigation/MainNavigationWaitingList.tsx
  apps/service/src/pages/main/_components/mainNavigation/title/MainNavigationTitleGuest.tsx
  apps/service/src/pages/main/_components/mainNavigation/title/MainNavigationTitleUser.tsx
  apps/service/src/pages/main/_hooks/useBoothList.tsx
  apps/service/src/pages/myWaiting/_components/MyWaitingList.tsx
  packages/core/src/components/buttonExtension/ButtonExtension.styled.ts
  packages/core/src/components/buttonExtension/ButtonExtension.tsx
  packages/core/src/components/flex/Flex.styled.ts
  packages/core/src/components/flex/Flex.tsx
  packages/core/src/components/icon/Icon.styled.ts
  packages/core/src/components/icon/Icon.tsx
Labels: ✨ Feature, 🍀 서현, 📁 service, 🛜 API

#46 [Feat]#20-관리자 페이지 소켓 및 대기 상태 조회
  apps/admin/src/apis/domains/booth/apis.ts
  apps/admin/src/apis/domains/boothManaging/_interfaces.ts
  apps/admin/src/apis/domains/boothManaging/apis.ts
  apps/admin/src/atoms/auth.ts
  apps/admin/src/atoms/boothInfo.ts
  apps/admin/src/components/sidebar/Sidebar.tsx
  apps/admin/src/hooks/useSocket.ts
  apps/admin/src/lib/types/status.ts
  apps/admin/src/pages/main/MainPages.tsx
  apps/admin/src/pages/main/_components/tag/TagList.tsx
Labels: ✨ Feature, 📁 admin, 🍀 찬주, 🛜 API

#45 [Network] #43 - API 예외처리, 회원가입 API연결
  apps/service/src/apis/domains/booth/getBooth.ts
  apps/service/src/apis/domains/booth/getBoothWaiting.ts
  apps/service/src/apis/domains/booth/getBooths.ts
  apps/service/src/apis/domains/booth/getBoothsCount.ts
  apps/service/src/apis/domains/booth/getBoothsWaiting.ts
  apps/service/src/apis/domains/models.ts
  apps/service/src/apis/domains/user/postLogin.ts
  apps/service/src/apis/domains/user/postRegistration.ts
  apps/service/src/apis/domains/user/postRegistrationMessage.ts
  apps/service/src/apis/index.d.ts
  apps/service/src/apis/instance.ts
  apps/service/src/apis/interceptors.ts
  apps/service/src/components/booth/BoothThumbnailBadge.tsx
  apps/service/src/hooks/apis/user.tsx
  apps/service/src/lib/interfaces/booth.ts
  apps/service/src/lib/interfaces/waiting.ts
  apps/service/src/pages/main/MainPage.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothList.tsx
  apps/service/src/pages/main/_components/boothList/useBoothList.ts
  apps/service/src/pages/main/_components/mainNavigation/MainNavigation.tsx
  apps/service/src/pages/main/_hooks/useBoothList.tsx
  apps/service/src/pages/main/_hooks/useGetMainData.ts
  apps/service/src/pages/signup/_components/form/SignupForm.tsx
  apps/service/src/pages/signup/_components/form/steps/SignupFormStepPhone.tsx
  apps/service/src/pages/signup/_hooks/useSendAuth.ts
  apps/service/src/pages/signup/_hooks/useSignupForm.tsx
  apps/service/src/routes/ProtectedRoute.tsx
Labels: ✨ Feature, 🍀 서현, 📁 service, 🛜 API

#47 [Feat]#39-관리자 전체적인 api 수정
  apps/admin/public/images/flow.png
  apps/admin/src/apis/domains/boothOperating/_interfaces.ts
  apps/admin/src/apis/domains/boothOperating/apis.ts
  apps/admin/src/apis/domains/boothOperating/queries.ts
  apps/admin/src/apis/domains/login/_interfaces.ts
  apps/admin/src/atoms/auth.ts
  apps/admin/src/components/sidebar/Sidebar.tsx
  apps/admin/src/hooks/useAuth.ts
  apps/admin/src/hooks/useOverlay.ts
  apps/admin/src/pages/main/MainPages.tsx
  apps/admin/src/pages/main/_components/overlay/PauseOverlay.styled.ts
  apps/admin/src/pages/main/_components/overlay/PauseOverlay.tsx
  packages/core/src/components/modal/Modal.styled.ts
Labels: ✨ Feature, 📁 admin, 🍀 찬주, 🛜 API

#44 [Feat] #32 - Map 커스텀
  apps/service/src/apis/domains/booth/getBooth.ts
  apps/service/src/apis/domains/booth/getBooths.ts
  apps/service/src/apis/domains/booth/getBoothsLocation.ts
  apps/service/src/apis/domains/models.ts
  apps/service/src/apis/domains/waiting/getWaitingBooth.ts
  apps/service/src/atoms/location.ts
  apps/service/src/hooks/apis/booth.tsx
  apps/service/src/lib/interfaces/booth.ts
  apps/service/src/lib/interfaces/waiting.ts
  apps/service/src/pages/main/MainPage.styled.ts
  apps/service/src/pages/main/MainPage.tsx
  apps/service/src/pages/main/_atom/selectedBooth.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothListHeader.tsx
  apps/service/src/pages/main/_components/map/MainLocationButton.styled.ts
  apps/service/src/pages/main/_components/map/MainLocationButton.tsx
  apps/service/src/pages/main/_components/map/MainMap.styled.ts
  apps/service/src/pages/main/_components/map/MainMap.tsx
  apps/service/src/pages/main/_components/map/MainSelectedBoothCard.tsx
  apps/service/src/pages/main/_hooks/useBoothList.tsx
  apps/service/src/pages/main/_hooks/useBoothSelected.ts
  apps/service/src/pages/main/_hooks/useBoothViewState.ts
  apps/service/src/pages/main/_hooks/useMainViewType.tsx
  apps/service/src/pages/main/_hooks/useMapScript.tsx
  apps/service/src/pages/main/_hooks/useNaverMap.tsx
  apps/service/src/utils/loadScript.ts
  packages/core/src/components/icon/assets/PinIcon.tsx
  packages/core/src/components/icon/assets/WaitingPinIcon.tsx
  packages/core/src/components/icon/icons.ts
Labels: ✨ Feature, 📁 service, 🍀 세호, 🛜 API

#51 [Network] #50 - 로그아웃, 회원 탈퇴 API
  apps/service/src/apis/domains/user/postWithdraw.ts
  apps/service/src/apis/instance.ts
  apps/service/src/components/modal/entering.tsx
  apps/service/src/components/modal/user.tsx
  apps/service/src/hooks/apis/user.tsx
  apps/service/src/pages/setting/SettingPage.tsx
  apps/service/src/pages/setting/_components/deleteID/SettingDeleteID.tsx
  packages/core/src/components/flex/Flex.styled.ts
  packages/core/src/components/flex/Flex.tsx
  packages/core/src/components/inputText/InputText.tsx
  packages/core/src/components/inputText/InputTextButton.tsx
Labels: 🍀 서현, 📁 service, 🛜 API

#55 [Fix] #52 - Main Page 충돌 해결
  apps/service/src/App.tsx
  apps/service/src/apis/domains/booth/getBooths.ts
  apps/service/src/apis/domains/booth/getBoothsLocation.ts
  apps/service/src/apis/domains/waiting/getWaiting.ts
  apps/service/src/components/booth/BoothThumbnail.tsx
  apps/service/src/components/booth/BoothThumbnailCompact.tsx
  apps/service/src/hooks/apis/booth.tsx
  apps/service/src/hooks/apis/query.ts
  apps/service/src/mocks/_components/TestTool.tsx
  apps/service/src/mocks/_dummy/booth.ts
  apps/service/src/mocks/_dummy/waiting.ts
  apps/service/src/mocks/browser.ts
  apps/service/src/mocks/dummy/booth.ts
  apps/service/src/mocks/dummy/waitingDetail.ts
  apps/service/src/mocks/dummy/waitings.ts
  apps/service/src/mocks/handlers.ts
  apps/service/src/mocks/handlersV2.ts
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/login/_components/form/LoginForm.tsx
  apps/service/src/pages/login/_hooks/useLoginForm.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothList.tsx
  apps/service/src/pages/main/_components/boothList/useBoothList.ts
  apps/service/src/pages/main/_components/map/MainMap.tsx
  apps/service/src/pages/main/_components/map/MainSelectedBoothCard.tsx
  apps/service/src/pages/main/_components/map/pin/DefaultPin.tsx
  apps/service/src/pages/main/_components/map/pin/FocusPin.tsx
  apps/service/src/pages/main/_hooks/useBoothList.tsx
  apps/service/src/pages/main/_hooks/useBoothListData.ts
  apps/service/src/pages/main/_hooks/useGetMainData.ts
  apps/service/src/pages/main/_hooks/useMainViewType.tsx
  apps/service/src/pages/main/_hooks/useNaverMap.tsx
  apps/service/src/pages/signup/_components/form/SignupForm.tsx
  apps/service/src/pages/signup/_hooks/useSignupForm.tsx
  apps/service/src/routes/ProtectedRoute.tsx
  packages/core/src/components/icon/icons.ts
Labels: 🍀 서현, 📁 service, 🫳 Fix

#53 [Feat]#49-부스 상세 페이지 변화된 ui 수정
  apps/service/src/apis/domains/booth/getBooth.ts
  apps/service/src/lib/interfaces/booth.ts
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/boothDetail/_components/card/BoothDeatilCard.styled.ts
  apps/service/src/pages/boothDetail/_components/content/BoothDetailContent.styled.ts
  apps/service/src/pages/boothDetail/_components/content/BoothDetailContent.tsx
  apps/service/src/pages/boothDetail/_components/menu/BoothDetailMenu.styled.ts
  apps/service/src/pages/boothDetail/_components/menu/BoothDetailMenu.tsx
  apps/service/src/pages/boothDetail/_components/notice/BoothDetailNotice.styled.ts
  apps/service/src/pages/boothDetail/_components/notice/BoothDetailNotice.tsx
  apps/service/src/pages/boothDetail/_hooks/useFormatDate.ts
  apps/service/src/pages/boothDetail/boothDetailInfo/BoothDetailInfo.styled.ts
  apps/service/src/pages/boothDetail/boothDetailInfo/BoothDetailInfo.tsx
  packages/core/src/styles/colors.ts
Labels: 📁 service, 🍀 찬주

#59 [Fix] 1차 FE QA 반영 1(찬주)
  apps/service/src/apis/domains/waiting/getWaiting.ts
  apps/service/src/components/boothCard/BoothCard.styled.ts
  apps/service/src/components/boothCard/boothCardDetail.tsx
  apps/service/src/components/boothCard/boothCardLayout.tsx
  apps/service/src/components/modal/waiting.tsx
  apps/service/src/pages/waitingCheck/_components/WaitingCheckPeople.tsx
  apps/service/src/pages/waitingDetail/WaitingDetailPage.tsx
Labels: 📁 service, 🍀 찬주, 🫳 Fix

#57 [Fix] #56 - 1차 FE QA 사항 (서현) 1
  apps/service/src/components/booth/BoothThumbnail.tsx
  apps/service/src/components/booth/BoothThumbnailCompact.tsx
  apps/service/src/components/waitingCard/WaitingCardEmpty.tsx
  apps/service/src/constants/image.ts
  apps/service/src/hooks/apis/user.tsx
  apps/service/src/hooks/apis/waiting.tsx
  apps/service/src/hooks/useAuth.ts
  apps/service/src/pages/login/_hooks/useLoginForm.tsx
  apps/service/src/pages/main/_components/mainNavigation/MainNavigation.tsx
  apps/service/src/pages/main/_components/mainNavigation/MainNavigationContent.tsx
  apps/service/src/pages/main/_components/mainNavigation/MainNavigationWaitingList.tsx
  apps/service/src/pages/main/_components/map/MainMap.tsx
  apps/service/src/pages/main/_hooks/useBoothListData.ts
  apps/service/src/pages/main/_hooks/useNaverMap.tsx
  apps/service/src/pages/signup/_hooks/useSignupForm.tsx
  packages/core/src/components/modal/Modal.tsx
Labels: 🍀 서현, 📁 service, 🫳 Fix

#62 [Fix] #60 - 1차 FE QA 사항 (세호)
  apps/service/src/components/boothLocationMap/BoothLocationMap.styled.ts
  apps/service/src/components/boothLocationMap/BoothLocationMap.tsx
  apps/service/src/hooks/useSmallNaverMap.tsx
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
Labels: 📁 service, 🍀 세호, 🫳 Fix

#63 [Fix] #56 - 1차 FE QA 사항 (서현) + 입장 취소 바텀시트
  apps/service/src/App.tsx
  apps/service/src/components/booth/BoothThumbnailCompact.tsx
  apps/service/src/components/bottomSheet/cancel/CancelBottomSheet.tsx
  apps/service/src/components/bottomSheet/entering/EnteringBottohSheetProvider.tsx
  apps/service/src/components/bottomSheet/entering/EnteringContent.tsx
  apps/service/src/components/bottomSheet/entering/boothList/BoothCard.tsx
  apps/service/src/components/test/TestTool.tsx
  apps/service/src/components/waitingCard/WaitingCard.tsx
  apps/service/src/hooks/apis/waiting.tsx
  apps/service/src/hooks/useEntering.tsx
  apps/service/src/layouts/RootLayout.tsx
  apps/service/src/pages/main/_components/mainNavigation/MainNavigation.tsx
  apps/service/src/pages/myWaiting/_components/MyWaitingEmtpyView.tsx
  apps/service/src/pages/myWaiting/_components/MyWaitingList.tsx
  apps/service/src/pages/setting/SettingPage.tsx
  packages/core/src/components/fixedContainer/FixedContainer.tsx
  packages/core/src/components/index.ts
Labels: 🍀 서현, 📁 service, 🛜 API, 🫳 Fix

#65 [Feat]#61-사용자 소켓 구현
  apps/service/src/hooks/socket/useSocket.ts
  apps/service/src/hooks/socket/useSocketEnterRoute.ts
  apps/service/src/hooks/socket/useSocketEnterings.ts
  apps/service/src/hooks/useEntering.tsx
  apps/service/src/layouts/RootLayout.tsx
  apps/service/src/utils/mapToWaiting.ts
Labels: ✨ Feature, 📁 service, 🍀 찬주

#67 [Fix]#64-entering content 및 useEntering 이슈 해결
  apps/service/src/App.tsx
  apps/service/src/components/bottomSheet/entering/EnteringContent.tsx
  apps/service/src/hooks/useEntering.tsx
  apps/service/src/layouts/RootLayout.tsx
Labels: 📁 service, 🍀 찬주, 🫳 Fix

#68 [Fix]#58-waiting detail page button bottom error
  apps/service/src/apis/domains/booth/getBoothWaiting.ts
  apps/service/src/apis/domains/waiting/getWaiting.ts
  apps/service/src/atoms/boothWaitingAtoms.ts
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/waitingDetail/WaitingDetailPage.tsx
Labels: 📁 service, 🍀 찬주, 🫳 Fix

#73 [Fix] #69 - 지도 대규모 수정
  apps/service/src/atoms/location.ts
  apps/service/src/components/boothLocationMap/BoothLocationMap.tsx
  apps/service/src/components/refetchButton/RefetchButton.tsx
  apps/service/src/hooks/useSmallNaverMap.tsx
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/main/MainPage.styled.ts
  apps/service/src/pages/main/MainPage.tsx
  apps/service/src/pages/main/_atom/selectedBooth.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothList.styled.ts
  apps/service/src/pages/main/_components/mainNavigation/MainNavigation.styled.ts
  apps/service/src/pages/main/_components/map/MainLocationButton.tsx
  apps/service/src/pages/main/_components/map/MainMap.styled.ts
  apps/service/src/pages/main/_components/map/MainMap.tsx
  apps/service/src/pages/main/_components/map/MainSelectedBoothCard.tsx
  apps/service/src/pages/main/_hooks/useBoothList.tsx
  apps/service/src/pages/main/_hooks/useMainViewType.tsx
  apps/service/src/pages/main/_hooks/useNaverMap.tsx
  apps/service/src/pages/waitingDetail/WaitingDetailPage.tsx
Labels: 📁 service, 🍀 세호, 🫳 Fix

#74 [Fix]#71 - 자체 QA 1차
  apps/admin/src/atoms/auth.ts
  apps/admin/src/pages/main/_components/tag/Tag.styled.ts
  apps/service/src/components/bottomSheet/entering/EnteringBottohSheetProvider.tsx
  apps/service/src/hooks/socket/useSocketEnterings.ts
  apps/service/src/hooks/useEntering.tsx
  apps/service/src/layouts/RootLayout.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothListHeader.tsx
Labels: 📁 service, 📁 admin, 🍀 찬주, 🫳 Fix

#76 [Fix] #75 - 변수명 오류 해결
  apps/service/src/pages/main/_hooks/useBoothViewState.ts
Labels: 🍀 서현, 🫳 Fix

#81 [Fix] #80 - admin 빌드 오류 해결
  apps/admin/src/apis/domains/booth/_interfaces.ts
  apps/admin/src/lib/interfaces/waiting.ts
  apps/admin/src/pages/main/_components/MainWaitingCard.tsx
  apps/service/public/images/DEFAULT_BOOTH_THUMBNAIL.png
  apps/service/public/images/NOTICE_DUE_TIME.png
  apps/service/public/images/NOTICE_MAX_WAITING.png
  apps/service/public/images/NOTICE_NO_SHOW.png
  apps/service/public/images/image_OG_tag.png
  apps/service/public/images/image_boothCardThumbnail.png
  apps/service/public/images/image_caution.png
  apps/service/public/images/image_favicon.svg
  apps/service/public/images/image_icon.png
  apps/service/public/images/image_thumbnail_1.png
  apps/service/public/images/image_thumbnail_2.png
  apps/service/public/images/image_vertical_logo.svg
  apps/service/public/images/image_waitingDetailCaution1.png
  apps/service/public/images/image_waitingDetailCaution2.png
  apps/service/public/images/image_waitingNoCard.png
  apps/service/src/components/booth/BoothThumbnail.tsx
  apps/service/src/components/booth/BoothThumbnailCompact.tsx
  apps/service/src/components/boothCard/BoothCard.styled.ts
  apps/service/src/components/boothCard/boothCardDetail.tsx
  apps/service/src/components/boothCard/boothCardLayout.tsx
  apps/service/src/components/bottomSheet/entering/SingleEnteringContent.tsx
  apps/service/src/components/waitingDetailCard/WaitingDetailCard.styled.ts
  apps/service/src/components/waitingDetailCard/WaitingDetailCard.tsx
  apps/service/src/constants/image.ts
  apps/service/src/pages/waitingCheck/_components/splash/SplashWaitingCard.tsx
  apps/service/src/pages/waitingDetail/WaitingDetailPage.tsx
  apps/service/src/pages/waitingDetail/_components/WaitingDetailCaution.tsx
Labels: 🍀 서현, 📁 service, 📁 admin, 🫳 Fix

#83 [Fix] #82 - 지도 <-> 바텀시트 z-index 문제 해결
  apps/service/src/components/bottomButton/BottomButton.styled.ts
  apps/service/src/components/bottomSheet/entering/SingleEnteringContent.tsx
  apps/service/src/components/infobottomButton/InfoBottomButton.styled.ts
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  packages/core/src/components/bottomSheet/BottomSheetProvider.tsx
  packages/core/src/components/flex/Flex.styled.ts
  packages/core/src/components/flex/Flex.tsx
  packages/core/src/components/modal/ModalProvider.tsx
Labels: 📁 service, 🍀 세호, 🫳 Fix

#86 [Fix] #80 - HotFix
  apps/service/src/components/boothLocationMap/BoothLocationMap.styled.ts
  apps/service/src/components/boothLocationMap/BoothLocationMap.tsx
  apps/service/src/pages/main/_components/map/pin/DefaultPin.tsx
  apps/service/src/pages/main/_hooks/useNaverMap.tsx
  apps/service/src/pages/waitingDetail/WaitingDetailPage.tsx
Labels: 🍀 서현, 📁 service, 🫳 Fix

#87 [Fix]#78-전체 1차 QA : 관리자
  apps/admin/src/lib/types/status.ts
  apps/admin/src/pages/main/MainPages.tsx
  apps/admin/src/pages/main/_components/MainWaitingCard.tsx
  apps/admin/src/pages/main/_components/_hooks/useMainWaitingCard.tsx
  apps/admin/src/pages/main/_components/overlay/PauseOverlay.styled.ts
  apps/admin/src/pages/main/_components/tag/Tag.styled.ts
  packages/core/src/styles/global.ts
Labels: 📁 admin, 📁 core, 🍀 찬주, 🫳 Fix

#88 [Fix]#78-1차 전체 QA 반영
  apps/service/src/pages/setting/SettingPage.tsx
  packages/core/public/fonts/PretendardVariable.woff2
  packages/core/src/styles/fonts.ts
  packages/core/src/styles/global.ts
Labels: 📁 service, 📁 core, 🍀 찬주, 🫳 Fix

#91 [Fix] #90 - 지도 뷰 Chrome, Safari 모바일 환경에서 바텀시트 대응
  apps/service/public/icons/icon_checkBox_before.svg
  apps/service/src/pages/main/_components/mainNavigation/MainNavigation.styled.ts
  apps/service/src/pages/main/_components/map/MainMap.styled.ts
Labels: 🍀 세호, 🫳 Fix

#93 [Fix]#78-고유번호 길이 제한 40자
  apps/admin/src/pages/login/LoginPage.tsx
  apps/admin/src/pages/login/components/LoginInput.tsx
Labels: 🍀 찬주, 🫳 Fix

#94 [Feat] #89 - 로그인, 회원가입 통합
  Todo.json
  apps/service/src/apis/domains/user/postAuthenticate.ts
  apps/service/src/apis/domains/user/postRegistration.ts
  apps/service/src/apis/interceptors.ts
  apps/service/src/components/bottomSheet/login/LoginBottomSheetContent.tsx
  apps/service/src/components/navigation/Navigation.tsx
  apps/service/src/components/title/PageTitle.tsx
  apps/service/src/components/waitingCard/WaitingCardLogin.tsx
  apps/service/src/constants/route.ts
  apps/service/src/hooks/apis/user.tsx
  apps/service/src/hooks/form/useMultiForm.tsx
  apps/service/src/pages/auth/AuthPage.tsx
  apps/service/src/pages/auth/_components/AuthForm.tsx
  apps/service/src/pages/auth/_components/AuthFormName.tsx
  apps/service/src/pages/auth/_components/AuthFormPhonenumber.tsx
  apps/service/src/pages/auth/_components/AuthFormSMS.tsx
  apps/service/src/pages/auth/_hooks/useAuthForm.tsx
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/login/LoginPage.tsx
  apps/service/src/pages/login/_components/form/LoginForm.tsx
  apps/service/src/pages/login/_hooks/useLoginForm.tsx
  apps/service/src/pages/myWaiting/MyWaiting.styled.ts
  apps/service/src/pages/myWaiting/MyWaiting.tsx
  apps/service/src/pages/signup/SignupPage.tsx
  apps/service/src/pages/signup/__components/form/SignupForm.tsx
  apps/service/src/pages/signup/__components/form/index.ts
  apps/service/src/pages/signup/__components/form/steps/AuthButton.tsx
  apps/service/src/pages/signup/__components/form/steps/SignupFormStepPhone.tsx
  apps/service/src/pages/signup/__components/form/steps/SingupFormStepPassword.tsx
  apps/service/src/pages/signup/__components/form/steps/SinupFormStepName.tsx
  apps/service/src/pages/signup/_components/form/index.ts
  apps/service/src/pages/signup/_components/form/steps/AuthButton.tsx
  apps/service/src/pages/signup/_components/form/steps/SingupFormStepPassword.tsx
  apps/service/src/pages/signup/_components/form/steps/SinupFormStepUser.tsx
  apps/service/src/pages/signup/_hooks/useSendAuth.ts
  apps/service/src/pages/signup/_hooks/useSignupForm.tsx
  apps/service/src/routes/router.tsx
  packages/core/src/components/icon/assets/FestivalLocation.tsx
Labels: ✨ Feature, 🍀 서현, 📁 service

#99 [Fix]#98-로그인 후 스피너, api get 지속 요청 방지
  apps/admin/src/components/sidebar/Sidebar.tsx
  apps/admin/src/hooks/apis/auth.ts
  apps/admin/src/hooks/apis/booth.ts
  apps/admin/src/hooks/apis/boothManaging.ts
  apps/admin/src/pages/login/LoginPage.tsx
Labels: 📁 admin, 🍀 찬주, 🫳 Fix

#97 [Fix] #96 - 지도 부스카드 이전 상태 포커스 문제 해결
  apps/service/src/components/boothLocationMap/BoothLocationMap.tsx
  apps/service/src/pages/main/MainPage.tsx
  apps/service/src/pages/main/_atom/selectedBooth.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothList.tsx
  apps/service/src/pages/main/_components/map/MainMap.tsx
Labels: 📁 service, 🍀 세호, 🫳 Fix

#101 [Fix] #100 - 오류 해결
  apps/service/src/apis/instance.ts
  apps/service/src/components/refetchButton/RefetchButton.tsx
  apps/service/src/hooks/socket/useSocket.ts
  apps/service/src/hooks/socket/useSocketEnterings.ts
  apps/service/src/pages/auth/_hooks/useAuthForm.tsx
  apps/service/src/pages/main/_components/map/MainLocationButton.tsx
  apps/service/src/pages/main/_hooks/useBoothViewState.ts
  apps/service/src/pages/main/_hooks/useSortBooths.tsx
  apps/service/src/pages/waitingCheck/_components/WaitingCheckCautionModal.tsx
  packages/core/src/components/select/Select.tsx
Labels: 🍀 서현, 📁 service, 🫳 Fix

#102 [Fix] #100 - 폰트 설치
  packages/core/package.json
  packages/core/src/styles/global.ts
  yarn.lock
Labels: 🍀 서현, 📁 service, 🫳 Fix

#107 [Feat] #106 - Countdown View
  apps/service/src/App.tsx
  apps/service/src/apis/domains/user/getUserCount.ts
  apps/service/src/components/_test/countdown/CountDown.styled.ts
  apps/service/src/components/_test/countdown/Countdown.tsx
  apps/service/src/components/button/SettingButton.tsx
  apps/service/src/components/button/WaitingTeamsAheadButton.tsx
  apps/service/src/hooks/apis/user.tsx
  apps/service/src/layouts/TestRootLayout.tsx
  apps/service/src/pages/_boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/_boothDetail/_components/card/BoothDeatilCard.styled.ts
  apps/service/src/pages/_boothDetail/_components/card/BoothDetailCard.tsx
  apps/service/src/pages/_boothDetail/_components/common/style.ts
  apps/service/src/pages/_boothDetail/_components/content/BoothDetailContent.styled.ts
  apps/service/src/pages/_boothDetail/_components/content/BoothDetailContent.tsx
  apps/service/src/pages/_boothDetail/_components/index.ts
  apps/service/src/pages/_boothDetail/_components/menu/BoothDetailMenu.styled.ts
  apps/service/src/pages/_boothDetail/_components/menu/BoothDetailMenu.tsx
  apps/service/src/pages/_boothDetail/_components/notice/BoothDetailNotice.styled.ts
  apps/service/src/pages/_boothDetail/_components/notice/BoothDetailNotice.tsx
  apps/service/src/pages/_boothDetail/_hooks/useBoothID.ts
  apps/service/src/pages/_boothDetail/_hooks/useFormatDate.ts
  apps/service/src/pages/_boothDetail/boothDetailInfo/BoothDetailInfo.styled.ts
  apps/service/src/pages/_boothDetail/boothDetailInfo/BoothDetailInfo.tsx
  apps/service/src/pages/_waitingDetail/WaitingDetailPage.styled.ts
  apps/service/src/pages/_waitingDetail/WaitingDetailPage.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailCaution.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailCautionItem.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailComponents.styled.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailHead.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailMap.tsx
  apps/service/src/pages/_waitingDetail/hooks/useAnimation.tsx
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  apps/service/src/routes/router.tsx
  packages/core/src/hooks/useCountdown.ts
Labels: ✨ Feature, 🍀 서현, 📁 service

#108 [Deploy]
  apps/admin/src/pages/main/MainPages.tsx
  apps/admin/src/pages/main/utils/sortWaitings.ts
  apps/service/src/App.tsx
  apps/service/src/apis/domains/user/getUserCount.ts
  apps/service/src/components/_test/countdown/CountDown.styled.ts
  apps/service/src/components/_test/countdown/Countdown.tsx
  apps/service/src/components/button/SettingButton.tsx
  apps/service/src/components/button/WaitingTeamsAheadButton.tsx
  apps/service/src/hooks/apis/user.tsx
  apps/service/src/layouts/TestRootLayout.tsx
  apps/service/src/pages/_boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/_boothDetail/_components/card/BoothDeatilCard.styled.ts
  apps/service/src/pages/_boothDetail/_components/card/BoothDetailCard.tsx
  apps/service/src/pages/_boothDetail/_components/common/style.ts
  apps/service/src/pages/_boothDetail/_components/content/BoothDetailContent.styled.ts
  apps/service/src/pages/_boothDetail/_components/content/BoothDetailContent.tsx
  apps/service/src/pages/_boothDetail/_components/index.ts
  apps/service/src/pages/_boothDetail/_components/menu/BoothDetailMenu.styled.ts
  apps/service/src/pages/_boothDetail/_components/menu/BoothDetailMenu.tsx
  apps/service/src/pages/_boothDetail/_components/notice/BoothDetailNotice.styled.ts
  apps/service/src/pages/_boothDetail/_components/notice/BoothDetailNotice.tsx
  apps/service/src/pages/_boothDetail/_hooks/useBoothID.ts
  apps/service/src/pages/_boothDetail/_hooks/useFormatDate.ts
  apps/service/src/pages/_boothDetail/boothDetailInfo/BoothDetailInfo.styled.ts
  apps/service/src/pages/_boothDetail/boothDetailInfo/BoothDetailInfo.tsx
  apps/service/src/pages/_waitingDetail/WaitingDetailPage.styled.ts
  apps/service/src/pages/_waitingDetail/WaitingDetailPage.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailCaution.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailCautionItem.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailComponents.styled.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailHead.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailMap.tsx
  apps/service/src/pages/_waitingDetail/hooks/useAnimation.tsx
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  apps/service/src/routes/router.tsx
  packages/core/src/hooks/useCountdown.ts
Labels: 🚀 Deploy

#110 [Fix]#109-관리자 대기 카드 정렬
  apps/admin/src/pages/main/MainPages.tsx
  apps/admin/src/pages/main/utils/sortWaitings.ts
Labels: 📁 admin, 🍀 찬주, 🫳 Fix

#112 [Feat] #111 - Countdowun view
  apps/service/src/App.tsx
  apps/service/src/components/booth/BoothThumbnail.tsx
  apps/service/src/components/booth/BoothThumbnailBadge.tsx
  apps/service/src/components/modal/waiting.tsx
  apps/service/src/components/skeleton/BoothItem.Skeleton.tsx
  apps/service/src/components/skeleton/BoothPage.Skeloton.tsx
  apps/service/src/components/skeleton/Chip.Skeleton.tsx
  apps/service/src/components/skeleton/Skeleton.styled.ts
  apps/service/src/components/skeleton/WaitingCard.Skeleton.tsx
  apps/service/src/components/spinner/Spinner.styled.ts
  apps/service/src/hooks/apis/user.tsx
  apps/service/src/hooks/apis/waiting.tsx
  apps/service/src/layouts/RootLayout.tsx
  apps/service/src/lib/interfaces/booth.ts
  apps/service/src/pages/_boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/_boothDetail/_components/card/BoothDeatilCard.styled.ts
  apps/service/src/pages/_waitingDetail/WaitingDetailPage.styled.ts
  apps/service/src/pages/_waitingDetail/WaitingDetailPage.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailCaution.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailCautionItem.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailComponents.styled.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailHead.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailMap.tsx
  apps/service/src/pages/_waitingDetail/hooks/useAnimation.tsx
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/boothDetail/_components/card/BoothDeatilCard.styled.ts
  apps/service/src/pages/main/MainPage.tsx
  apps/service/src/pages/main/_components/MainBoothsContent.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothList.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothListItem.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothListLoading.tsx
  apps/service/src/pages/main/_components/mainNavigation/MainNavigation.styled.ts
  apps/service/src/pages/main/_components/mainNavigation/MainNavigationWaitingList.tsx
  apps/service/src/pages/main/_components/map/MainMap.tsx
  apps/service/src/pages/main/_components/map/MainSelectedBoothCard.tsx
  apps/service/src/pages/main/_hooks/useBoothList.tsx
  apps/service/src/pages/main/_hooks/useBoothListData.ts
Labels: ✨ Feature, 🍀 서현, 📁 service, ♻️ Refactor

#113 Deploy
  apps/admin/src/pages/main/MainPages.tsx
  apps/admin/src/pages/main/utils/sortWaitings.ts
  apps/service/src/App.tsx
  apps/service/src/components/booth/BoothThumbnail.tsx
  apps/service/src/components/booth/BoothThumbnailBadge.tsx
  apps/service/src/components/modal/waiting.tsx
  apps/service/src/components/skeleton/BoothItem.Skeleton.tsx
  apps/service/src/components/skeleton/BoothPage.Skeloton.tsx
  apps/service/src/components/skeleton/Chip.Skeleton.tsx
  apps/service/src/components/skeleton/Skeleton.styled.ts
  apps/service/src/components/skeleton/WaitingCard.Skeleton.tsx
  apps/service/src/components/spinner/Spinner.styled.ts
  apps/service/src/hooks/apis/user.tsx
  apps/service/src/hooks/apis/waiting.tsx
  apps/service/src/layouts/RootLayout.tsx
  apps/service/src/lib/interfaces/booth.ts
  apps/service/src/pages/_boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/_boothDetail/_components/card/BoothDeatilCard.styled.ts
  apps/service/src/pages/_waitingDetail/WaitingDetailPage.styled.ts
  apps/service/src/pages/_waitingDetail/WaitingDetailPage.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailCaution.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailCautionItem.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailComponents.styled.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailHead.tsx
  apps/service/src/pages/_waitingDetail/_components/WaitingDetailMap.tsx
  apps/service/src/pages/_waitingDetail/hooks/useAnimation.tsx
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/boothDetail/_components/card/BoothDeatilCard.styled.ts
  apps/service/src/pages/main/MainPage.tsx
  apps/service/src/pages/main/_components/MainBoothsContent.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothList.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothListItem.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothListLoading.tsx
  apps/service/src/pages/main/_components/mainNavigation/MainNavigation.styled.ts
  apps/service/src/pages/main/_components/mainNavigation/MainNavigationWaitingList.tsx
  apps/service/src/pages/main/_components/map/MainMap.tsx
  apps/service/src/pages/main/_components/map/MainSelectedBoothCard.tsx
  apps/service/src/pages/main/_hooks/useBoothList.tsx
  apps/service/src/pages/main/_hooks/useBoothListData.ts
Labels: 🚀 Deploy

#118 [Feat] #117 - 지도 요구사항 반영
  apps/service/src/hooks/useSmallNaverMap.tsx
  apps/service/src/pages/main/_components/map/MainLocationButton.tsx
  apps/service/src/pages/main/_hooks/useNaverMap.tsx
  packages/core/src/components/icon/assets/FestivalLocation.tsx
Labels: ✨ Feature, 📁 service, 🍀 세호

#120 [Chore] #116 - Onboarding Image 변경
  apps/service/public/images/NAVIGATION_ONBOARDING.svg
  apps/service/src/components/navigation/Navigation.styled.ts
  apps/service/src/components/navigation/Navigation.tsx
Labels: ✨ Feature, 🍀 서현, 📁 service

#122 [Deploy] - 1.0.1 Minor Update
  apps/service/public/images/NAVIGATION_ONBOARDING.svg
  apps/service/src/_gdg/GDGBoothListItem.tsx
  apps/service/src/_gdg/getGDGBooths.ts
  apps/service/src/_gdg/hooks.tsx
  apps/service/src/_gdg/models.ts
  apps/service/src/components/_test/countdown/Countdown.tsx
  apps/service/src/components/booth/BoothThumbnail.tsx
  apps/service/src/components/booth/BoothThumbnailBadge.tsx
  apps/service/src/components/booth/getBadges.tsx
  apps/service/src/components/bottomSheet/ signup/AgreeBottomSheetContent.tsx
  apps/service/src/components/navigation/Navigation.styled.ts
  apps/service/src/components/navigation/Navigation.tsx
  apps/service/src/constants/image.ts
  apps/service/src/constants/route.ts
  apps/service/src/hooks/useSmallNaverMap.tsx
  apps/service/src/layouts/RootLayout.tsx
  apps/service/src/pages/auth/_components/AuthFormSMS.tsx
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothList.styled.ts
  apps/service/src/pages/main/_components/boothList/MainBoothList.tsx
  apps/service/src/pages/main/_components/boothList/MainBoothListItem.tsx
  apps/service/src/pages/main/_components/map/MainLocationButton.tsx
  apps/service/src/pages/main/_components/map/MainSelectedBoothCard.tsx
  apps/service/src/pages/main/_hooks/useBoothListData.ts
  apps/service/src/pages/main/_hooks/useNaverMap.tsx
  apps/service/src/pages/setting/SettingPage.styled.ts
  apps/service/src/pages/setting/_components/settingItem/SettingItem.styled.ts
  apps/service/src/pages/setting/_components/settingItem/SettingItem.tsx
  apps/service/src/pages/waitingCheck/_components/WaitingCheckCautionModal.tsx
  apps/service/src/routes/router.tsx
  packages/core/src/components/icon/assets/FestivalLocation.tsx
  packages/core/src/components/modal/Modal.tsx
  packages/core/src/hooks/useCountdown.ts
  packages/core/src/styles/variant.ts
Labels: 🍀 서현, 🍀 세호, 🍀 찬주, 🚀 Deploy

#123 [Feat] #117 - 지도 요구사항 반영
  apps/service/src/hooks/useSmallNaverMap.tsx
  apps/service/src/pages/main/_components/map/MainLocationButton.tsx
  apps/service/src/pages/main/_hooks/useNaverMap.tsx
Labels: 🍀 세호, 🫳 Fix

#127 [Fix] #124 - UI 수정, 정책 변경사항 반영
  apps/service/public/images/NAVIGATION_ONBOARDING.svg
  apps/service/src/components/boothLocationMap/BoothLocationMap.styled.ts
  apps/service/src/components/boothLocationMap/BoothLocationMap.tsx
  apps/service/src/components/bottomSheet/ signup/AgreeBottomSheetContent.tsx
  apps/service/src/components/navigation/Navigation.styled.ts
  apps/service/src/components/navigation/Navigation.tsx
  apps/service/src/components/navigation/NavigationOnboarding.tsx
  apps/service/src/components/waitingDetailCard/WaitingDetailCard.tsx
  apps/service/src/hooks/apis/user.tsx
  apps/service/src/pages/_boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/_boothDetail/_components/card/BoothDeatilCard.styled.ts
  apps/service/src/pages/_boothDetail/_components/card/BoothDetailCard.tsx
  apps/service/src/pages/_boothDetail/_components/common/style.ts
  apps/service/src/pages/_boothDetail/_components/content/BoothDetailContent.styled.ts
  apps/service/src/pages/_boothDetail/_components/content/BoothDetailContent.tsx
  apps/service/src/pages/_boothDetail/_components/index.ts
  apps/service/src/pages/_boothDetail/_components/menu/BoothDetailMenu.styled.ts
  apps/service/src/pages/_boothDetail/_components/menu/BoothDetailMenu.tsx
  apps/service/src/pages/_boothDetail/_components/notice/BoothDetailNotice.styled.ts
  apps/service/src/pages/_boothDetail/_components/notice/BoothDetailNotice.tsx
  apps/service/src/pages/_boothDetail/_hooks/useBoothID.ts
  apps/service/src/pages/_boothDetail/_hooks/useFormatDate.ts
  apps/service/src/pages/_boothDetail/boothDetailInfo/BoothDetailInfo.styled.ts
  apps/service/src/pages/_boothDetail/boothDetailInfo/BoothDetailInfo.tsx
  apps/service/src/pages/auth/_components/AuthFormSMS.tsx
  apps/service/src/pages/boothDetail/_components/card/BoothDeatilCard.styled.ts
  apps/service/src/pages/boothDetail/_components/menu/BoothDetailMenu.styled.ts
  apps/service/src/pages/boothDetail/boothDetailInfo/BoothDetailInfo.styled.ts
  apps/service/src/pages/boothDetail/boothDetailInfo/BoothDetailInfo.tsx
  apps/service/src/pages/main/_components/map/MainMap.styled.ts
  apps/service/src/pages/waitingDetail/WaitingDetailPage.tsx
  packages/core/src/components/IconLabel/IconLabel.styled.ts
Labels: 🍀 서현, 📁 service, 🫳 Fix

#129 Deploy
  apps/service/index.html
  apps/service/public/images/NAVIGATION_ONBOARDING.svg
  apps/service/src/apis/interceptors.ts
  apps/service/src/components/boothLocationMap/BoothLocationMap.styled.ts
  apps/service/src/components/boothLocationMap/BoothLocationMap.tsx
  apps/service/src/components/bottomSheet/ signup/AgreeBottomSheetContent.tsx
  apps/service/src/components/navigation/Navigation.styled.ts
  apps/service/src/components/navigation/Navigation.tsx
  apps/service/src/components/navigation/NavigationOnboarding.tsx
  apps/service/src/components/waitingDetailCard/WaitingDetailCard.tsx
  apps/service/src/hooks/apis/user.tsx
  apps/service/src/hooks/useSmallNaverMap.tsx
  apps/service/src/pages/_boothDetail/BoothDetailPage.tsx
  apps/service/src/pages/_boothDetail/_components/card/BoothDeatilCard.styled.ts
  apps/service/src/pages/_boothDetail/_components/card/BoothDetailCard.tsx
  apps/service/src/pages/_boothDetail/_components/common/style.ts
  apps/service/src/pages/_boothDetail/_components/content/BoothDetailContent.styled.ts
  apps/service/src/pages/_boothDetail/_components/content/BoothDetailContent.tsx
  apps/service/src/pages/_boothDetail/_components/index.ts
  apps/service/src/pages/_boothDetail/_components/menu/BoothDetailMenu.styled.ts
  apps/service/src/pages/_boothDetail/_components/menu/BoothDetailMenu.tsx
  apps/service/src/pages/_boothDetail/_components/notice/BoothDetailNotice.styled.ts
  apps/service/src/pages/_boothDetail/_components/notice/BoothDetailNotice.tsx
  apps/service/src/pages/_boothDetail/_hooks/useBoothID.ts
  apps/service/src/pages/_boothDetail/_hooks/useFormatDate.ts
  apps/service/src/pages/_boothDetail/boothDetailInfo/BoothDetailInfo.styled.ts
  apps/service/src/pages/_boothDetail/boothDetailInfo/BoothDetailInfo.tsx
  apps/service/src/pages/auth/_components/AuthFormSMS.tsx
  apps/service/src/pages/boothDetail/_components/card/BoothDeatilCard.styled.ts
  apps/service/src/pages/boothDetail/_components/menu/BoothDetailMenu.styled.ts
  apps/service/src/pages/boothDetail/boothDetailInfo/BoothDetailInfo.styled.ts
  apps/service/src/pages/boothDetail/boothDetailInfo/BoothDetailInfo.tsx
  apps/service/src/pages/main/_components/map/MainLocationButton.tsx
  apps/service/src/pages/main/_components/map/MainMap.styled.ts
  apps/service/src/pages/main/_hooks/useNaverMap.tsx
  apps/service/src/pages/waitingDetail/WaitingDetailPage.tsx
  packages/core/src/components/IconLabel/IconLabel.styled.ts
Labels: 🚀 Deploy

#131 [Fix] #124 - 배포 전 QA 사항 반영
  apps/admin/index.html
  apps/admin/public/meta/FAVICON.png
  apps/admin/public/meta/OG_TAG.png
  apps/service/index.html
  apps/service/public/meta/FAVICON.png
  apps/service/public/meta/OG_TAG.png
  apps/service/public/vite.svg
  apps/service/src/components/bottomSheet/entering/NoticeCard/NoticeCard.tsx
  apps/service/src/components/bottomSheet/login/LoginBottomSheetContent.tsx
  apps/service/src/components/waitingCard/WaitingCardLogin.tsx
Labels: 🍀 서현, 📁 service, 📁 admin, 🫳 Fix

#133 [Fix] #124 - 로그인 워딩 수정
  apps/admin/public/vite.svg
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
Labels: 🍀 서현, 📁 service, 📁 admin, 🫳 Fix

#134 Deploy
  apps/admin/public/vite.svg
  apps/service/src/pages/boothDetail/BoothDetailPage.tsx
Labels: 🚀 Deploy
